.header{
  width: 100%;
  height: 4.5rem;
  z-index: 999;
  background: #eee;
}
.search_and_add{
  padding:0 1rem;
}
.container{
  margin-bottom:2.45rem;
}
.header_fix{
  position: fixed;
  top: 0;
  width: 16.75rem;
  background: #eee;
  z-index: 999;
  padding: 1rem;
  border-bottom: 2px solid #ADC;
}
.search_form{
  font-size: 0;
  background: #edc;
  border: 1px solid #aaa;
  border-radius: .1rem;
}
.search_cont{
  -webkit-appearance: textarea;
  outline: none;
  width: 8rem;
  height: 1.35rem;
  padding: 0 .25rem;
  background: none;
  border: none;
}
.search_btn{
  height: 1.4rem;
  line-height:1.35rem;
  outline: none;
  background: #fad098;
  border: none;
  vertical-align: top;
  border-left: 1px solid #aaa;
  border-radius: 0 .2rem .2rem 0;
}
.search_and_add .newPhoto{
  height: 1.45rem;
  line-height:1.45rem;
  outline: none;
  background: #fad098;
  border: 1px solid #aaa;
  vertical-align: top;
  border-radius: .025rem .4rem;
  padding: 0 .2rem;
  color: #3d3d3d;
  font-size: .7rem;
}
.photo_album{
  padding: 0 .6rem;
}
.photo_list{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.photo_item{
  width: 6rem;
  height: 7.5rem;
  background: #fff;
  margin: 0 1.75rem 1rem 1rem;
  position: relative;
  background: #f3c697;
}
.photo_item:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width:6rem;
  height: 7.5rem;
  overflow: hidden;
  box-shadow: 1px 0 0px rgba(0, 0, 0, 0.2), 8px 0 0 -3px #f6f6f6, 9px 0 1px -3px rgba(0, 0, 0, 0.2), 16px 0 0 -6px #f6f6f6, 17px 0 2px -6px rgba(0, 0, 0, 0.2);
}
.photo_item .photo_name {
  height: 4rem;
  padding: 1.5rem .3rem;
  box-sizing: border-box;
}
.photo_item .photo_describe {
  position: absolute;
  bottom: 1.5rem;
  text-align: left;
  padding-left: .5rem;
  color: #9a8f85;
}
.photo_item .photo_data {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
}
.vintage2 {
  color: transparent;
  -webkit-text-stroke: .6px #567;
  letter-spacing: 0.04rem;
}
.vintage3 {
  color: transparent;
  background-color : blue;
  text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
  -webkit-background-clip : text;
}
.load_more{
  width: 4.65rem;
  height: 1rem;
  margin: 0 auto;
  background: url("../img/loading.gif");
}
.no_more{
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: .65rem;
  color: #999;
}
